{
  "presets": ["env"],
  "plugins": [
    "syntax-dynamic-import",
    "transform-runtime",
    "transform-object-rest-spread", 
    ["transform-react-jsx"],
    "transform-class-properties",
    ["import",{
      "libraryName": "antd",
      "style": true
    }],
    
    ["module-resolver", {
      "alias": {
        
      }
    }]
  ]
}