{
  "extends": ["stylelint-config-standard", "stylelint-config-css-modules"],
  "plugins": ["stylelint-scss"],
  "ignoreFiles": ["./src/**/*.{js,jsx,ts,tsx}", "./src/css/portalv4-app.scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "font-family-no-missing-generic-family-keyword": null,
    "no-descending-specificity": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
